/* Add some colors */

header {
    color:rgb(0, 0, 255);
}

nav {
    color:#DC143C
}

h2 {
    color: hsl(212, 42%, 59%)
}

h3 {
    color:DarkSlateGrey
}

h2 {
    background-color:rgb(68, 68, 68);
}

/*relative units*/
header {
    width: 20vw
}

img {
    height: 25vh
}

video {
    height: 20vmax
}



/*absolute units*/
nav {
    width: 500px
}

p {
    width: 500pt
}

body {
    width: 500pc
}

/* box model */
.block,
nav {
    border-style: dashed;
    border-color: darkslategray;
    border-width:5px;
    border-radius:5px;

    margin-top:10px;
    margin-bottom:10px;
    margin-left:50px;
    margin-right:10px;

    padding-top:5px;
    padding-bottom:5px;
    padding-left:10px;
    padding-right:10px;

}

.block,
img {
    border-style:solid;
    border-color: darkslategray;
    border-width:5px;
    border-radius:5px;

    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
}

.block,
video {
    margin: auto;
}

/*Style text*/
h3 {
    color: brown;
    text-decoration: underline;
    text-align: left;

}

p.test {
    display: inline;
}

#friday {
    display:inline-block;
}

* {
    max-width: 1000px;
    min-width:500px;
}

img, video {
    position:relative
}

header {
    position: static
}

a[href^="#"] {
    color: yellowgreen;
}

button:hover {
    color:royalblue;
}

button:active {
    color:purple;
}

.flex {
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

.grid {
    display: grid;
    grid-template-columns: 50px 50px 50px;
    grid-template-rows:50px 50px 50px ;
    gap: 10px 10px;
}