/* Add some colors */

header {
    color:rgb(0, 0, 255);
}

nav {
    color:#DC143C
}

h2 {
    color: hsl(212, 42%, 59%)
}

h3 {
    color:DarkSlateGrey
}

h2 {
    background-color:rgb(68, 68, 68);
}

/*relative units*/
header {
    width: 20vw
}

img {
    height: 25vh
}

video {
    height: 20vmax
}



/*absolute units*/
nav {
    width: 500px
}

p {
    width: 500pt
}

body {
    width: 500pc
}

